/* You can add global styles to this file, and also import other style files */

* {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font-weight: normal;
	
}

html {
    font-size: 14px;
}

@font-face {
	font-family: 'Hanzo';
	url: './assets/fonts/Hattori_Hanzo-webfont.woff';
}

.app-container {
	font-family: 'Quattrocento Sans', sans-serif;
	margin: 0 auto;
	min-height: 1000px;
	background: #FFF;
	letter-spacing: 1.2px;
}

.odd {
	background: #A0A0A0;
}

.even {
	background: #A6A6A6;
}

.loss {
	color: #DF514C;
}
.profit {
	color: #27AE60;
}
.buy-colored {
	background: #4A90C2;
	color: #FFF;
}

.sell-colored {
	background: #FF5C10;
	color: #FFF;
}

.buy-text {
    color: #4A90C2;
}
.sell-text {
    color: #FF5C10; 
}

hr {
	padding: 0px 5px;
}



/* Hide the checkbox */

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked,
[type="radio"]:not(:checked),
[type="radio"]:checked {
    position: absolute;
    left: -9999px;
}


/* Prepare the label */

[type="checkbox"]:not(:checked)+label,
[type="checkbox"]:checked+label,
[type="radio"]:not(:checked)+label,
[type="radio"]:checked+label {
    position: relative;
    padding-left: 18px;
    padding-bottom: -1px;
    cursor: pointer;
}


/*Checkboxes aspect */


/* :before is for the box */

[type="checkbox"]:not(:checked)+label:before,
[type="checkbox"]:checked+label:before,
[type="radio"]:not(:checked)+label:before,
[type="radio"]:checked+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 2px;
    width: 12px;
    height: 12px;
    border: 2px solid #666;
    border-radius: 2px;
}


/* Check symbol aspect */


/* animation incoming :p */

[type="checkbox"]:not(:checked)+label:after,
[type="checkbox"]:checked+label:after,
[type="radio"]:not(:checked)+label:after,
[type="radio"]:checked+label:after {
    content: '\2714';
    position: absolute;
    top: -2px;
    left: 4px;
    font-size: 0.8rem;
    color: #666;
    transition: all .3s;
}


/* if "not checked" */

[type="checkbox"]:not(:checked)+label:after,
[type="radio"]:not(:checked)+label:after {
    opacity: 0;
    transform: scale(0);
}


/* If "checked" */

[type="checkbox"]:checked+label:after,
[type="radio"]:checked+label:after {
    opacity: 1;
    transform: scale(1.5);
}